<div class="split-container" #container>
  <div class="split-pane split-left" [style.width.%]="leftPct()">
    <ng-content select="[left]"></ng-content>
  </div>

  <div
    class="split-divider"
    #divider
    role="separator"
    aria-label="Resize panes"
    aria-orientation="vertical"
    [attr.aria-valuenow]="leftPct() | number:'1.0-0'"
    aria-valuemin="20"
    aria-valuemax="80"
    tabindex="0"
    (mousedown)="onDividerMousedown($event)"
    (keydown)="onDividerKeydown($event)"
  >
    <span class="divider-handle" aria-hidden="true"></span>
  </div>

  <div class="split-pane split-right" [style.width.%]="100 - leftPct()">
    <ng-content select="[right]"></ng-content>
  </div>
</div>
